In [238]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sympy import symbols, derive_by_array

In [239]:
data = pd.read_csv('heart.csv')
y = np.array(data["target"])
data.drop("target", axis = 1, inplace = True)
x = np.array(data)
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [240]:
w1,w2,w3,w4,w5,w6,w7,w8,w9,w10,w11,w12,w13,b = symbols('w1 w2 w3 w4 w5 w6 w7 w8 w9 w10 w11 w12 w13 b', real = True)
w = np.array([w1,w2,w3,w4,w5,w6,w7,w8,w9,w10,w11,w12,w13])

## Sigmoid func

In [242]:
def sigmoid(z):
    g = 1/(1 + np.exp(-z))
    return g

## Logistic Cost func

### J had 0*inf so unable to compute, so added smallest value of 10 to input of log that gave a finite output.

In [243]:
def cost(x, y, w, b):
    J = 0
    for i in range(x.shape[0]):
        zi = np.dot(x[i],w) + b
        f_wb_i = sigmoid(zi)
        if y[i]==0:
            J+=(1-y[i])*np.log(1-f_wb_i)
        else:
            J+=y[i]*np.log(f_wb_i)
    J/=-13
    return J

## Gradient Descent

In [254]:
def grad(w, b):
    alp = 0.0001
    dj_dw , dj_db = diff(x,y,w,b)
    w = w - alp*diff(cost(sigmoid(np.dot(x,w)+b)))
    b = b - alp*derive_by_array(cost(sigmoid(np.dot(x,w)+b)))
    return [w,b]

In [255]:
def diff(X,y,w,b):
    m,n = X.shape
    dj_dw = np.zeros((n,))                           #(n,)
    dj_db = 0.

    for i in range(m):
        f_wb_i = sigmoid(np.dot(X[i],w) + b)          #(n,)(n,)=scalar
        err_i  = f_wb_i  - y[i]                       #scalar
        for j in range(n):
            dj_dw[j] = dj_dw[j] + err_i * X[i,j]      #scalar
        dj_db = dj_db + err_i
    dj_dw = dj_dw/m                                   #(n,)
    dj_db = dj_db/m                                   #scalar

    return dj_dw, dj_db

## Best fit

In [256]:
t = 0
prev_cost = 0
num_w = np.zeros(8)
num_b = 1
gr_w, gr_b = grad(w, b)
gr_w = Matrix(gr_w)
while True:
    t+=1
    f = np.dot(num_w,x) + num_b - y
    
    num_w = gr_w.subs(w1,num_w[0]).subs(w2,num_w[1]).subs(w3,num_w[2]).subs(w4,num_w[3]).subs(w5,num_w[4]).subs(w6,num_w[5]).subs(w7,num_w[6]).subs(w8,num_w[7]).subs(b,num_b)
    num_b = gr_b.subs(w1,num_w[0]).subs(w2,num_w[1]).subs(w3,num_w[2]).subs(w4,num_w[3]).subs(w5,num_w[4]).subs(w6,num_w[5]).subs(w7,num_w[6]).subs(w8,num_w[7]).subs(b,num_b)
    
    num_w = np.reshape(num_w, (8,))
    if (abs(sympify(cost(f)).subs(w1,num_w[0]).subs(w2,num_w[1]).subs(w3,num_w[2]).subs(w4,num_w[3]).subs(w5,num_w[4]).subs(w6,num_w[5]).subs(w7,num_w[6]).subs(w8,num_w[7]).subs(b,num_b) - prev_cost) <= 0.001):
        break
    else:
        prev_cost = sympify(cost(f)).subs(w1,num_w[0]).subs(w2,num_w[1]).subs(w3,num_w[2]).subs(w4,num_w[3]).subs(w5,num_w[4]).subs(w6,num_w[5]).subs(w7,num_w[6]).subs(w8,num_w[7]).subs(b,num_b)
        print("RMS Cost:",prev_cost)
        print()
print("No of iterations:",t)
print("Coeff:",num_w)
print("Intercept:",num_b)

TypeError: loop of ufunc does not support argument 0 of type Add which has no callable exp method